*{
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}


/*********************headernya dan navbar**********************/

.header {
    width: 100%;
    height: 10vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

#logo{
    width: 10%;
    margin-left: 1%;
}

#profil{
    width: 4%;
    border-radius: 100%;
    margin-right: 2%;
}

.header nav{
    background-color: white;
    width: 45%;
    height: 45%;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px 5px black;
}

.header nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 1.2rem;
    height: 50%;
    width: 25%;
    border-left: 2px solid rgba(0, 0, 0, .2);
    font-weight: 450;
}

#first-menu {
    border-left: none;
}

.header nav a:hover{
    border-left: none;
    background-color: rgba(0, 0, 0, .1);
    height: 100%;
    border-radius: 50px;
}

/*********************content-nya**********************/

.content{
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, .1);
}

.section-home{
    font-family: "Montserrat", sans-serif;
    padding: 2% 2%;
}

.section-home h1{
    font-size: 6rem;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.section-home p{
    font-size: 2rem;
    text-align: justify;
    padding-right: 5%;
    line-height: 3rem;
    padding-bottom: 2%;
    border-bottom: 4px solid rgba(1, 1, 120, 0.5);
    padding-bottom: 5%;
}

.section-about-me{
    padding-top: 5%;
    display: flex;
    font-family: "Poppins", sans-serif;
}

.section-about-me img{
    margin-left: 8%;
    width: 200%;
    border: 3px solid black;
    box-shadow: -6px 6px 20px black;
}

.section-about-me .deskripsi{
    display: flex;
    margin-left: 8rem;
    flex-direction: column;
    height: auto;
    padding: 0;
}

.section-about-me .deskripsi h1{
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -3px;
}

.section-about-me .deskripsi h3{
    font-size: 3rem;
    font-size: 500;
    color: rgb(153, 0, 0);
    text-transform: capitalize;
}

.section-about-me .deskripsi p{
    font-size: 1.5rem;
    width: 80%;
    text-align: justify;
}

.section-gallery {
    padding: 0% 2%;
    margin-top: 5%;
    padding-top: 5%;
}

.section-gallery h1{
    font-family: "Montserrat", sans-serif;
    font-size: 6rem;
    font-weight: 800;
    text-transform: capitalize;
    padding: 5% 0px;
    border-top: 4px solid rgba(1, 1, 120, 0.5);
    text-align: center;
}

.section-gallery ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
}

.section-gallery ul li img{
    width: 25rem;
    border: 3px solid black;
    box-shadow: -6px 6px 20px black;
    border-radius: 10%;
    margin-bottom: 10%;
}

.section-contact{
    padding: 0% 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-contact h1{
    padding: 5% 0% 2% 0%;
    border-top: 4px solid rgba(1, 1, 120, 0.5);
    text-align: center;
    font-size: 6rem;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.section-contact .contact{
    display: flex;
    justify-content: space-evenly;
    
}

.section-contact .contact a{
    text-decoration: none;
    color: black;
    width: 20%;
    height: 300px;
    box-shadow: 0px 0px 8px black;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all .3s ease-in-out;
}

.section-contact .contact a:hover{
    background-color: rgba(0, 0, 0, .1);
    transition: all .3s ease-in-out;
}

.section-contact .contact i{
    font-size: 6rem;
}

.section-contact .contact h6{
    font-size: 2.5rem;
    text-transform: capitalize;
}

/*********************footer-nya**********************/

.footer {
    width: 100%;
    height: 10vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    font-size: 1rem;
}

#home, #about, #gallery, #contact {
  scroll-margin-top: 10vh; 
}


@media (max-width: 768px) {
    /* Header dan Navbar */
    .header {
        flex-direction: column;
        justify-content: start;
        height: auto;
        padding: 5px 0;
    }

    #logo {
        display: none;
    }

    #profil {
        width: 15%;
        margin: 10px 0;
        order: 1;
    }

    .header nav {
        width: 80%;
        height: auto;
        flex-wrap: wrap;
        border-radius: 20px;
        padding: 5px 0;
        order: 2;
        margin: 0;
        margin-right: 5%;
        
    }

    .header nav a {
        width: 45%;
        height: 40px;
        font-size: 1rem;
        border-left: none;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        border-radius: 10px;
        margin: 1px 0;
    }

    /* Section Home */
    .section-home{
        padding-top: 30%;
    }
    .section-home h1 {
        font-size: 2.5rem;
    }

    .section-home p {
        font-size: 1.1rem;
        line-height: 1.8rem;
        padding-right: 0;
    }

    /* About Me */
    .section-about-me {
        flex-direction: column;
        align-items: center;
        padding: 10% 5%;
        padding-top: 25%;
    }

    .section-about-me img {
        width: 80%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .section-about-me .deskripsi {
        margin-left: 0;
        align-items: center;
        text-align: center;
    }

    .section-about-me .deskripsi h1 {
        font-size: 2.5rem;
    }

    .section-about-me .deskripsi h3 {
        font-size: 1.8rem;
    }

    .section-about-me .deskripsi p {
        font-size: 1rem;
        width: 100%;
    }

    /* Gallery */
    .section-gallery{
        padding-top: 30%;
    }
    .section-gallery h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .section-gallery ul {
        justify-content: center;
        gap: 1rem;
        padding-left: 20%;
    }

    .section-gallery ul li img {
        width: 80%;
        margin-bottom: 20px;
    }

    /* Contact */
    .section-contact{
        padding-top: 30%;
    }
    .section-contact h1 {
        font-size: 2.5rem;
        margin-bottom: 5%;
    }

    .section-contact .contact {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .section-contact .contact a {
        width: 80%;
        height: 20vh;
    }

    .section-contact .contact i {
        font-size: 3rem;
    }

    .section-contact .contact h6 {
        font-size: 1.3rem;
    }

    /* Footer */
    .footer {
        font-size: 0.9rem;
        height: auto;
        padding: 15px;
        text-align: center;
    }
}